<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
  .bg-1 {
    background-color: #1abc9c; /* Green */
    color: #ffffff;
  }
.container-fluid {
  padding-top: 250px;
  padding-bottom: 250px;
  }
  </style>
</head>
<body>
  <div class="container-fluid bg-1 text-center">
    <div class="text-dark">
    <h1>Crop Recomendation System</h1>
  </div>
    <br><br>
    <h3>Location</h3>
    <div class="col-sm-3 mx-auto">
    <select class="form-control">
      <option>Select Location</option>;
      <option>Aandhra Pradesh</option>;
      <option>Arunachal Pradesh</option>;
      <option>Assam</option>;
      <option>Bihar</option>;
      <option>Rajasthan</option>;
      <option>Chattisgarh</option>;
      <option>Goa</option>;       
      <option>Gujarat</option>; 
      <option>Haryana</option>;
      <option>Himachal Pradesh</option>;
      <option>Jammu and Kashmir</option>;
      <option>Jharkhand</option>;
      <option>Karnataka</option>;
      <option>Kerala</option>;      
      <option>Madhaya Pradesh</option>;
      <option>Maharashtra</option>;
      <option>Manipur</option>;
      <option>Mizoram</option>;
      <option>Meghalaya</option>;
      <option>Nagaland</option>;
      <option>Odisha</option>;  
      <option>Punjab</option>;          
      <option>Rajasthan</option>;
      <option>Sikkim</option>;
      <option>Tamil Nadu</option>;
      <option>Telangana</option>;
      <option>Tripura</option>;
      <option>Uttar Pradesh</option>;
      <option>Uttarakhand</option>;
      <option>West Bengal</option>;
    </select>
    <br>
    <h3>Soil</h3>
    <select class="form-control">
    <option>Select Location</option>;
    <option>Alluvial</option>
    <option>Red</option>
    <option>Black</option>
    <option>Mountain</option>;
    <option>Laterite</option>;
    <option>Desert</option>;
    </select>
    </div><br>

  
  <button class="btn btn-danger col-sm-1" type = "button" name = "button">Submit</button>
    </div>

</body>
</html>